
.card {
  height: 370px;
  min-width: 378px;
  width: auto;
  box-sizing: border-box;
  border-radius: 28px;
}

.card-container:hover {
  transform: rotateY(360deg);
  transition: transform 0.75s;
}

.card-body {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-icon {
    margin-bottom: 2rem;

    img {
      width: 44px;
      height: 44px;
    }
  }

  .card-title {
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .card-text {
    font-size: var( --bs-small-font-size);
    letter-spacing: 0px;
    line-height: 21px;
  }

  a {
    color: var(--bg-dark);
    padding-bottom: 4px;
    border-bottom: 1px solid var(--bg-dark);
  }
}

.card-body-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-a {
  text-decoration: none;
}
